:coffeescript
  append_option = (ol) ->
    i = ol.children().length
    ol.append( '<li><input id="poll_options_attributes_' + i + '_text" name="poll[options_attributes][' + i + '][text]" type="text"></li>' )
    
  clean_up = (ol) ->
    options = []
    for li in ol.children()
      option = $('input', li).val()
      if ((option.length < 1) and !$(li).is(':last-child')) or ((option.length > 0) and (option in options))
        li.remove()
      else if (option.length > 0)
        options.push option
  
  $(document).ready ->
    $('.options ol').on 'blur', 'li input', (e) ->
      clean_up $(e.currentTarget).parents('ol:first')
      
    $('.options ol').on 'keyup', 'li:last input', (e) ->
      if $(e.currentTarget).val().length > 0
        append_option $(e.currentTarget).parents('ol:first')

%div{role: 'polls-new'}
  = form_for @poll do |f|
    %ol.fields
      %li.prompt
        = f.label :prompt, t('poll_prompt')
        = f.text_area :prompt, placeholder: "(#{ t('poll_prompt_placeholder') })"
      
      %li.options
        = f.label :options, t('poll_options')
        %ol
          = f.fields_for :options do |of|
            %li= of.text_field :text
  
      %li.ends_at
        = f.label :ends_in_hours, t('poll_ends_in')
        = f.text_field :ends_in_hours
        %label.addendum= t('poll_hours')
  
    %ul.actions
      %li= f.submit "#{ t('poll_create') }"