:coffeescript
  $(document).ready ->
    $('.options ol').on 'keyup', 'li:last input', (e) ->
      if $(e.currentTarget).val().length > 0
        for li in $('.options ol li')
          if ($('input', li).val().length < 1)
            li.remove()
        i = $(e.currentTarget).parents('ol:first').children().length;
        $(e.currentTarget).parents('ol:first').append( '<li><input id="poll_options_attributes_' + i + '_text" name="poll[options_attributes][' + i + '][text]" type="text"></li>' )

%div{role: 'polls-new'}
  = form_for @poll do |f|
    %ol.fields
      %li.prompt
        = f.label :prompt, t('poll_prompt')
        = f.text_area :prompt, placeholder: "(#{ t('poll_prompt_placeholder') })"
      
      %li.options
        = f.label :options, t('poll_options')
        %ol
          = f.fields_for :options do |of|
            %li= of.text_field :text
  
      %li.ends_at
        = f.label :ends_in_hours, t('poll_ends_in')
        = f.text_field :ends_in_hours
        %label.addendum= t('poll_hours')
  
    %ul.actions
      %li= f.submit "#{ t('poll_create') }"