%div{role: 'polls-show'}
  %article
    :markdown
      #{ @poll.prompt }

  - if @poll.is_over? or @results
    
    - if @poll.votes.any?
      %ul.results
        - @poll.options.by_position.each do |option|
          %li{class: ( (@poll.winning_option == option) ? 'winner' : nil )}
            %div.graph
              %label <strong>#{ option.text }</strong> #{ pluralize(option.votes.size, t('poll_vote')) }
              %div{style: "width: #{ (option.votes.size * 100) / (@poll.votes.size) }%;"}
                %label <strong>#{ option.text }</strong> #{ pluralize(option.votes.size, t('poll_vote')) }
    
    - else
      
      %p.no-votes= @poll.is_over? ? t('no_votes_were_cast') : t('no_votes_have_been_cast')

    %em.deadline
      #{ pluralize(@poll.votes.size, t('poll_vote')) } #{ t('poll_cast') } &bull;
      
      - if @poll.is_over?
        #{ t('poll_closed') } <strong>#{ pluralize(@poll.ends_in_hours, t('poll_hour')) } ago</strong>
      - else
        #{ t('poll_closes_in') } <strong>#{ pluralize(@poll.ends_in_hours, t('poll_hour')) }</strong>

  - else

    :coffeescript
      $(document).on 'ready page:load', ->
        $("[data-action='selector'] li").bind 'click', (e) ->
          $("[name='vote[option_id]']").val $(e.currentTarget).data('option')
          $(e.currentTarget).closest('form').submit()

    = form_for [@poll, @vote] do |f|
      = f.hidden_field :option_id
  
      %ul{'data-action' => 'selector'}
        - @poll.options.by_position.each do |option|
          %li{'data-option' => option.id}
            %label
              %strong
                - if @vote.option == option
                  %abbr{title: 'selected'} √ 
                #{ option.text }
    
    %em.deadline #{ pluralize(@poll.votes.size, t('poll_vote')) } #{ t('poll_cast') } &bull; #{ t('poll_closes_in') } <strong>#{ pluralize(@poll.ends_in_hours, t('poll_hour')) }</strong>
