%div{role: 'polls-show'}
  %article
    :markdown
      #{ @poll.prompt }

  - if @poll.is_over?
    
    - if @poll.votes.any?
      %ul.results
        - @poll.options.each do |option|
          %li{class: ( (@poll.winning_option == option) ? 'winner' : nil )}
            %div.graph
              %label <strong>#{ option.text }</strong> #{ pluralize(option.votes.size, 'vote') }
              %div{style: "width: #{ (option.votes.size * 100) / (@poll.votes.size) }%;"}
                %label <strong>#{ option.text }</strong> #{ pluralize(option.votes.size, 'vote') }
    
    - else
      
      %p.no-votes No votes were cast.

    %em.deadline #{ pluralize(@poll.votes.size, 'vote') } cast &bull; closed at <strong>#{ @poll.ends_at.strftime("%e %b '%y %k:%M") }</strong>

  - else

    :coffeescript
      $(document).on 'ready page:load', ->
        $("[data-action='selector'] li").bind 'click', (e) ->
          $("[name='vote[option_id]']").val $(e.currentTarget).data('option')
          $(e.currentTarget).closest('form').submit()

    = form_for [@poll, Vote.new] do |f|
      = f.hidden_field :option_id
  
      %ul{'data-action' => 'selector'}
        - @poll.options.alphabetically.each do |option|
          %li{'data-option' => option.id}
            %label <strong>#{ option.text }</strong>
    
    %em.deadline #{ pluralize(@poll.votes.size, 'vote') } cast &bull; poll closes at <strong>#{ @poll.ends_at.strftime("%e %b '%y %k:%M") }</strong>
